# Maven
target/
*.log

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/

# Logs
logs/
*.txt

# Test Output
test-output/

# Compiled files
*.class

# Environment files
.env